openapi: 3.1.0
info:
  title: Social Care Sync Contract
  version: 2.0.0
  description: |
    Synchronous APIs for the social-care service.
    All mutation endpoints require the X-Actor-Id header.
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
  - url: https://social-care.acdgbrasil.com.br/api/v1
    description: Production
tags:
  - name: Health
    description: Infrastructure health probes.
  - name: Registry
    description: Patient registration, family members, and social identity.
  - name: Assessment
    description: Patient assessment modules (housing, socioeconomic, education, health, community, summary).
  - name: Care
    description: Appointments and intake information.
  - name: Protection
    description: Placement history, rights violations, and referrals.
  - name: Lookup
    description: Domain lookup tables (dominios).
  - name: Audit
    description: Audit trail queries.
security:
  - bearerAuth: []

paths:
  # ──────────────────────────── Health ────────────────────────────

  /health:
    servers:
      - url: https://social-care.acdgbrasil.com.br
    get:
      operationId: liveness
      summary: Liveness check
      tags:
        - Health
      security: []
      responses:
        '200':
          description: Service is alive.

  /ready:
    servers:
      - url: https://social-care.acdgbrasil.com.br
    get:
      operationId: readiness
      summary: Readiness check
      description: Verifies database connectivity.
      tags:
        - Health
      security: []
      responses:
        '200':
          description: Service is ready.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'
        '503':
          description: Service is unavailable (database unreachable).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'

  # ──────────────────────────── Registry ────────────────────────────

  /patients:
    post:
      operationId: registerPatient
      summary: Register patient
      description: Creates a new social-care patient record for an existing person.
      tags:
        - Registry
      parameters:
        - $ref: '#/components/parameters/ActorId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterPatientRequest'
      responses:
        '201':
          description: Patient registered successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardIdResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /patients/{patientId}:
    get:
      operationId: getPatientById
      summary: Get patient by ID
      description: Returns the full patient aggregate projection.
      tags:
        - Registry
      parameters:
        - $ref: '#/components/parameters/PatientId'
      responses:
        '200':
          description: Patient found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPatientResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /patients/by-person/{personId}:
    get:
      operationId: getPatientByPersonId
      summary: Get patient by person ID
      description: Looks up a patient using the person identifier.
      tags:
        - Registry
      parameters:
        - $ref: '#/components/parameters/PersonId'
      responses:
        '200':
          description: Patient found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPatientResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /patients/{patientId}/family-members:
    post:
      operationId: addFamilyMember
      summary: Add family member
      description: Associates a family member with an existing patient.
      tags:
        - Registry
      parameters:
        - $ref: '#/components/parameters/PatientId'
        - $ref: '#/components/parameters/ActorId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddFamilyMemberRequest'
      responses:
        '204':
          description: Family member added.
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /patients/{patientId}/family-members/{memberId}:
    delete:
      operationId: removeFamilyMember
      summary: Remove family member
      description: Removes a family member association from a patient.
      tags:
        - Registry
      parameters:
        - $ref: '#/components/parameters/PatientId'
        - $ref: '#/components/parameters/MemberId'
        - $ref: '#/components/parameters/ActorId'
      responses:
        '204':
          description: Family member removed.
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /patients/{patientId}/primary-caregiver:
    put:
      operationId: assignPrimaryCaregiver
      summary: Assign primary caregiver
      description: Assigns a family member as the primary caregiver for the patient.
      tags:
        - Registry
      parameters:
        - $ref: '#/components/parameters/PatientId'
        - $ref: '#/components/parameters/ActorId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignPrimaryCaregiverRequest'
      responses:
        '204':
          description: Primary caregiver assigned.
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /patients/{patientId}/social-identity:
    put:
      operationId: updateSocialIdentity
      summary: Update social identity
      description: Updates the social identity classification for a patient.
      tags:
        - Registry
      parameters:
        - $ref: '#/components/parameters/PatientId'
        - $ref: '#/components/parameters/ActorId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSocialIdentityRequest'
      responses:
        '204':
          description: Social identity updated.
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ──────────────────────────── Audit ────────────────────────────

  /patients/{patientId}/audit-trail:
    get:
      operationId: getAuditTrail
      summary: Get patient audit trail
      description: Returns the event history for a patient aggregate.
      tags:
        - Audit
      parameters:
        - $ref: '#/components/parameters/PatientId'
        - name: eventType
          in: query
          required: false
          description: Filter by event type.
          schema:
            type: string
      responses:
        '200':
          description: Audit trail entries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardAuditTrailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ──────────────────────────── Assessment ────────────────────────────

  /patients/{patientId}/housing-condition:
    put:
      operationId: updateHousingCondition
      summary: Update housing condition
      description: Updates housing condition assessment for a patient.
      tags:
        - Assessment
      parameters:
        - $ref: '#/components/parameters/PatientId'
        - $ref: '#/components/parameters/ActorId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HousingCondition'
      responses:
        '204':
          description: Housing condition updated.
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /patients/{patientId}/socioeconomic-situation:
    put:
      operationId: updateSocioEconomicSituation
      summary: Update socioeconomic situation
      description: Updates socioeconomic assessment data for a patient.
      tags:
        - Assessment
      parameters:
        - $ref: '#/components/parameters/PatientId'
        - $ref: '#/components/parameters/ActorId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocioEconomicSituation'
      responses:
        '204':
          description: Socioeconomic situation updated.
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /patients/{patientId}/work-and-income:
    put:
      operationId: updateWorkAndIncome
      summary: Update work and income
      description: Updates work and income data for a patient's family.
      tags:
        - Assessment
      parameters:
        - $ref: '#/components/parameters/PatientId'
        - $ref: '#/components/parameters/ActorId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkAndIncomeRequest'
      responses:
        '204':
          description: Work and income updated.
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /patients/{patientId}/educational-status:
    put:
      operationId: updateEducationalStatus
      summary: Update educational status
      description: Updates educational profiles and program occurrences for family members.
      tags:
        - Assessment
      parameters:
        - $ref: '#/components/parameters/PatientId'
        - $ref: '#/components/parameters/ActorId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEducationalStatusRequest'
      responses:
        '204':
          description: Educational status updated.
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /patients/{patientId}/health-status:
    put:
      operationId: updateHealthStatus
      summary: Update health status
      description: Updates health assessment including deficiencies and gestating members.
      tags:
        - Assessment
      parameters:
        - $ref: '#/components/parameters/PatientId'
        - $ref: '#/components/parameters/ActorId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateHealthStatusRequest'
      responses:
        '204':
          description: Health status updated.
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /patients/{patientId}/community-support-network:
    put:
      operationId: updateCommunitySupportNetwork
      summary: Update community support network
      description: Updates community and family support network assessment.
      tags:
        - Assessment
      parameters:
        - $ref: '#/components/parameters/PatientId'
        - $ref: '#/components/parameters/ActorId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCommunitySupportNetworkRequest'
      responses:
        '204':
          description: Community support network updated.
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /patients/{patientId}/social-health-summary:
    put:
      operationId: updateSocialHealthSummary
      summary: Update social health summary
      description: Updates the social health summary for a patient.
      tags:
        - Assessment
      parameters:
        - $ref: '#/components/parameters/PatientId'
        - $ref: '#/components/parameters/ActorId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSocialHealthSummaryRequest'
      responses:
        '204':
          description: Social health summary updated.
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ──────────────────────────── Care ────────────────────────────

  /patients/{patientId}/appointments:
    post:
      operationId: registerAppointment
      summary: Register appointment
      description: Records a social-care appointment for a patient.
      tags:
        - Care
      parameters:
        - $ref: '#/components/parameters/PatientId'
        - $ref: '#/components/parameters/ActorId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterAppointmentRequest'
      responses:
        '201':
          description: Appointment registered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardIdResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /patients/{patientId}/intake-info:
    put:
      operationId: registerIntakeInfo
      summary: Register intake information
      description: Records intake/ingress information for a patient.
      tags:
        - Care
      parameters:
        - $ref: '#/components/parameters/PatientId'
        - $ref: '#/components/parameters/ActorId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterIntakeInfoRequest'
      responses:
        '204':
          description: Intake info registered.
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ──────────────────────────── Protection ────────────────────────────

  /patients/{patientId}/placement-history:
    put:
      operationId: updatePlacementHistory
      summary: Update placement history
      description: Updates institutional placement history for a patient.
      tags:
        - Protection
      parameters:
        - $ref: '#/components/parameters/PatientId'
        - $ref: '#/components/parameters/ActorId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePlacementHistoryRequest'
      responses:
        '204':
          description: Placement history updated.
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /patients/{patientId}/violation-reports:
    post:
      operationId: reportRightsViolation
      summary: Report rights violation
      description: Reports a rights violation related to a patient context.
      tags:
        - Protection
      parameters:
        - $ref: '#/components/parameters/PatientId'
        - $ref: '#/components/parameters/ActorId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportRightsViolationRequest'
      responses:
        '201':
          description: Rights violation reported.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardIdResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /patients/{patientId}/referrals:
    post:
      operationId: createReferral
      summary: Create referral
      description: Creates a referral to another service for a patient.
      tags:
        - Protection
      parameters:
        - $ref: '#/components/parameters/PatientId'
        - $ref: '#/components/parameters/ActorId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReferralRequest'
      responses:
        '201':
          description: Referral created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardIdResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ──────────────────────────── Lookup ────────────────────────────

  /dominios/{tableName}:
    get:
      operationId: listLookupItems
      summary: List domain lookup items
      description: |
        Returns active items from a domain lookup table.
        Allowed tables: dominio_tipo_identidade, dominio_parentesco,
        dominio_condicao_ocupacao, dominio_escolaridade,
        dominio_efeito_condicionalidade, dominio_tipo_deficiencia,
        dominio_programa_social, dominio_tipo_ingresso,
        dominio_tipo_beneficio, dominio_tipo_violacao,
        dominio_servico_vinculo, dominio_tipo_medida,
        dominio_unidade_realizacao.
      tags:
        - Lookup
      parameters:
        - name: tableName
          in: path
          required: true
          description: Name of the domain lookup table.
          schema:
            type: string
            enum:
              - dominio_tipo_identidade
              - dominio_parentesco
              - dominio_condicao_ocupacao
              - dominio_escolaridade
              - dominio_efeito_condicionalidade
              - dominio_tipo_deficiencia
              - dominio_programa_social
              - dominio_tipo_ingresso
              - dominio_tipo_beneficio
              - dominio_tipo_violacao
              - dominio_servico_vinculo
              - dominio_tipo_medida
              - dominio_unidade_realizacao
      responses:
        '200':
          description: Lookup items listed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardLookupResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    PatientId:
      name: patientId
      in: path
      required: true
      description: Patient identifier (UUID).
      schema:
        $ref: '#/components/schemas/Uuid'
    PersonId:
      name: personId
      in: path
      required: true
      description: Person identifier (UUID).
      schema:
        $ref: '#/components/schemas/Uuid'
    MemberId:
      name: memberId
      in: path
      required: true
      description: Family member person identifier (UUID).
      schema:
        $ref: '#/components/schemas/Uuid'
    ActorId:
      name: X-Actor-Id
      in: header
      required: true
      description: Identifier of the actor performing the operation.
      schema:
        type: string

  schemas:
    # Primitives
    Uuid:
      $ref: ../model/schemas/Uuid.yaml
    IsoDateTime:
      $ref: ../model/schemas/IsoDateTime.yaml
    IsoDate:
      $ref: ../model/schemas/IsoDate.yaml

    # Response envelopes
    ReadinessResponse:
      $ref: ../model/schemas/ReadinessResponse.yaml
    StandardResponse:
      $ref: ../model/schemas/StandardResponse.yaml
    IdResponse:
      $ref: ../model/schemas/IdResponse.yaml
    PatientResponse:
      $ref: ../model/schemas/PatientResponse.yaml
    LookupItemResponse:
      $ref: ../model/schemas/LookupItemResponse.yaml
    AuditTrailEntryResponse:
      $ref: ../model/schemas/AuditTrailEntryResponse.yaml
    ErrorResponse:
      $ref: ../model/schemas/ErrorResponse.yaml

    # Composed response wrappers (inline)
    StandardIdResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          $ref: '#/components/schemas/IdResponse'
        meta:
          type: object
          required:
            - timestamp
          properties:
            timestamp:
              type: string
              format: date-time

    StandardPatientResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          $ref: '#/components/schemas/PatientResponse'
        meta:
          type: object
          required:
            - timestamp
          properties:
            timestamp:
              type: string
              format: date-time

    StandardAuditTrailResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AuditTrailEntryResponse'
        meta:
          type: object
          required:
            - timestamp
          properties:
            timestamp:
              type: string
              format: date-time

    StandardLookupResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/LookupItemResponse'
        meta:
          type: object
          required:
            - timestamp
          properties:
            timestamp:
              type: string
              format: date-time

    # Request schemas
    RegisterPatientRequest:
      $ref: ../model/schemas/RegisterPatientRequest.yaml
    AddFamilyMemberRequest:
      $ref: ../model/schemas/AddFamilyMemberRequest.yaml
    AssignPrimaryCaregiverRequest:
      $ref: ../model/schemas/AssignPrimaryCaregiverRequest.yaml
    UpdateSocialIdentityRequest:
      $ref: ../model/schemas/UpdateSocialIdentityRequest.yaml
    RegisterAppointmentRequest:
      $ref: ../model/schemas/RegisterAppointmentRequest.yaml
    RegisterIntakeInfoRequest:
      $ref: ../model/schemas/RegisterIntakeInfoRequest.yaml
    CreateReferralRequest:
      $ref: ../model/schemas/CreateReferralRequest.yaml
    ReportRightsViolationRequest:
      $ref: ../model/schemas/ReportRightsViolationRequest.yaml
    UpdatePlacementHistoryRequest:
      $ref: ../model/schemas/UpdatePlacementHistoryRequest.yaml
    HousingCondition:
      $ref: ../model/schemas/HousingCondition.yaml
    SocioEconomicSituation:
      $ref: ../model/schemas/SocioEconomicSituation.yaml
    UpdateWorkAndIncomeRequest:
      $ref: ../model/schemas/UpdateWorkAndIncomeRequest.yaml
    UpdateEducationalStatusRequest:
      $ref: ../model/schemas/UpdateEducationalStatusRequest.yaml
    UpdateHealthStatusRequest:
      $ref: ../model/schemas/UpdateHealthStatusRequest.yaml
    UpdateCommunitySupportNetworkRequest:
      $ref: ../model/schemas/UpdateCommunitySupportNetworkRequest.yaml
    UpdateSocialHealthSummaryRequest:
      $ref: ../model/schemas/UpdateSocialHealthSummaryRequest.yaml

  responses:
    BadRequest:
      description: Invalid input data.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Conflict:
      description: Conflict with current resource state.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: Target resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    UnprocessableEntity:
      description: Business validation failed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    InternalServerError:
      description: Unexpected server-side failure.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
